*{                        
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #1E212D;
}

.s-font{
    font-family: 'Montserrat', sans-serif;
}

.h-font{
    font-family: 'Cardo', serif;
}

.carousel-text{
    position: absolute;
    top: 325px;
    width: 100%;
    text-align: center;
    z-index: 2;
    text-shadow: 2px 4px 4px black;
}

.sm-text{
    font-size: 12px;
}

.md-text{
    font-size: 14px;
}

.room-desc{
    margin-left: 290px;
    margin-right: 290px;
}

.custom-bg-1{
    background-color: #B68973;
}

.custom-bg-1:hover{
    background-color: #EABF9F;
}

.custom-bg-2{
    background-color: #EAEAEA;
}

.custom-bg-3{
    background-color: #E0E0E0;
}

.custom-bg-4{
    background-color: #1E212D;
}

.custom-bg-5{
    background-color: #F5F5EB;
}

.custom-bg-6{
    background-color: #FAF3E0;
}

.text-color{
    color: #FAF3E0;
}

.lm-color{
    color: #B68973;
}

.check-form{
    margin-top: -120px;
    z-index: 2;
    position: relative;
    background-color: rgb(234, 234, 234, 0.5);
}

.room-cards{
    margin-top: -120px;
    z-index: 2;
    position: relative;
}

.no-radius{
    border-radius: 0px !important;
}

.dropdown-multicol{
    width: 40em;
  }

.dropdown-multicol>div.dropdown-col{
    display:inline-block;
    width: 32%;
}

.custom-margin{
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}

.text-color2{
    color: #B68973;
}

.text-colorgrey{
    color: #6F6F6F;
}

.text-colorfaf3e0{
    color: #FAF3E0;
}

.ptop-20{
    padding-top: 1.25rem;
}

.margintop-20{
    margin-top: 1.25rem;
}

.marginr-20{
    margin-right: 1.25rem;
}

.margintop-150{
    margin-top: 9.375rem;
}

.margintop-100{
    margin-top: 6.25rem;
}

.bigger-text{
    font-size: 20px;
}

.bigger-text18{
    font-size: 18px;
}

.kembang1{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 1300px;
    top: 1300px;
    background: url(/hotel/images/dekor/kembang.svg);
    background-size: cover;
    z-index: -1;
    transform: rotate(-32.92deg);
}

.daun1{
    position: absolute;
    width: 260px;
    height: 260px;
    left: -80px;
    top: 969px;
    background-size: cover;
    z-index: -1;
    background: url(/hotel/images/dekor/daun.svg);
    transform: rotate(42.07deg) scale(0.7);
}

.daun2{
    position: absolute;
    width: 260px;
    height: 260px;
    left: 1300px;
    top: 2920px;
    background-size: cover;
    z-index: -1;
    background: url(/hotel/images/dekor/daun.svg);
    transform: rotate(167.44deg) scale(0.7);
}

.daun3{
    position: absolute;
    width: 260px;
    height: 260px;
    left: -40px;
    top: 2920px;
    background-size: cover;
    z-index: -1;
    background: url(/hotel/images/dekor/daun.svg);
    transform: matrix(0.98, 0.22, 0.22, -0.98, 0, 0) scale(0.7);
}


.tangkai1{
    position: absolute;
    width: 281px;
    height: 281px;
    left: -30px;
    top: 2260px;
    background-size: cover;
    z-index: -1;
    background: url(/hotel/images/dekor/tangkai.svg);
    transform: rotate(69.14deg) scale(0.9);
}


@media screen and (max-width: 675px){
    .check-form{
    margin-top: 25px;
    padding: 0 35px;
    }

    .carousel-text{
        top: 250px;
    }

    .room-desc{
        margin-left: 90px;
        margin-right: 90px;
    }

    .sm-center{
        text-align: center;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* input[type=number]{
    -moz-appearance: textfield;
} */

.-h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-alert{
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 11111;
}