*{                        
    font-family: 'Poppins', sans-serif;
}

.s-font{
    font-family: 'Montserrat', sans-serif;
}

.h-font{
    font-family: 'Cardo', serif;
}

.carousel-text{
    position: absolute;
    top: 325px;
    width: 100%;
    text-align: center;
    z-index: 2;
    text-shadow: 2px 4px 4px black;
}

.sm-text{
    font-size: 12px;
}

.md-text{
    font-size: 14px;
}

.room-desc{
    margin-left: 290px;
    margin-right: 290px;
}

.custom-bg-1{
    background-color: #B68973;
}

.custom-bg-1:hover{
    background-color: #EABF9F;
}

.custom-bg-2{
    background-color: #EAEAEA;
}

.custom-bg-3{
    background-color: #E0E0E0;
}

.custom-bg-4{
    background-color: #1E212D;
}

.custom-bg-4 button:hover{
    background-color: #876A20;
}

.custom-bg-5{
    background-color: #F5F5EB;
}

.custom-bg-6{
    background-color: #FAF3E0;
}

.text-color{
    color: #FAF3E0;
}

.lm-color{
    color: #B68973;
}

.check-form{
    margin-top: -120px;
    z-index: 2;
    position: relative;
    background-color: rgb(234, 234, 234, 0.5);
}

.room-cards{
    margin-top: -120px;
    z-index: 2;
    position: relative;
}

.no-radius{
    border-radius: 0px !important;
}

.dropdown-multicol{
    width: 40em;
  }

.dropdown-multicol>div.dropdown-col{
    display:inline-block;
    width: 32%;
}

@media screen and (max-width: 675px){
    .check-form{
    margin-top: 25px;
    padding: 0 35px;
    }

    .carousel-text{
        top: 250px;
    }

    .room-desc{
        margin-left: 90px;
        margin-right: 90px;
    }

    .sm-center{
        text-align: center;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* input[type=number]{
    -moz-appearance: textfield;
} */

.-h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-alert{
    position: fixed;
    top: 77px;
    right: 25px;
}

#dashboard-menu{
    position: fixed;
    height: 100%;
}

@media screen and (max-width: 992px){
    #dashboard-menu{
        height: auto;
        width: 100%;
    }
    #main-content{
        margin-top: 60px;
    }
}